*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    direction: none;
}

body{
    color: rgba(38, 38, 38, 1);
    line-height: 18px;
    font-family: sans-serif;
}

.pageContainer{
    height: 100vh;
    width: 100%;
    background: #fafafa;
    padding: 1rem;
}

.row{
    display: flex;
    padding: 0 2rem;
    width: 100%;
    max-width: 93.5rem;
    margin: 3rem auto 0;
}

.col-1{
    position: relative;
    min-width: 46rem;
    height: 61.8rem;
    background: url(../assets/images/home-phone.png) center no-repeat;
    background-size: 100% 100%;
}

.col-1 .heroImage{
    width: 55%;
    height: 53rem;
    background: url("../assets/images/1.png") center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 2.5rem;
    left: 15rem;
}

.col-2{
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
}

.col-2 form{
    background: #ffff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}

.form--input{
    padding: 0.8rem;
    
}